@tailwind base;
@tailwind components;
@tailwind utilities;

::view-transition-old(root) {
  animation-name: move-out;
  animation-duration: 500ms;
}

::view-transition-new(root) {
  animation-name: move-in;
  animation-duration: 500ms;
}

@keyframes move-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0%);
  }
}

header {
  view-transition-name: header;
}
